<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sonic.zabbix"
    android:versionCode="35"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/az_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:logo="@drawable/az_logo">"
        <activity
            android:name="ru.sonic.zabbix.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="ru.sonic.zabbix.Feedback"           
            android:label="Feedback" >
        </activity>
      
      
        
        
         <activity
            android:name=".ActiveTriggerActivity"
            android:icon="@drawable/icon"
            android:label="Active triggers" >
        </activity>
         <activity
            android:name=".ActiveTriggerInfoActivity"
            android:icon="@drawable/icon"
            android:label="Trigger Info" >
        </activity>
          <activity
            android:name=".service.ServicePrefActivity"
            android:icon="@drawable/icon"
            android:label="Service configuration" >
        </activity>
 		    
          
      <activity
            android:name=".ZBXPreferenceActivity"
            android:icon="@drawable/icon"
            android:label="Settings" >
        </activity>      
        <activity
            android:name=".ChecksPrefActivity"
            android:icon="@drawable/icon"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:icon="@drawable/icon"
            android:label="Configuration" >
        </activity>
       
        <activity
            android:name=".OtherPrefActivity"
            android:icon="@drawable/icon"
            android:label="other" >
        </activity>
        <activity
            android:name=".FilterActivity"
            android:icon="@drawable/icon"
            android:label="Filter" >
        </activity>
        <activity
            android:name=".HostGroupActivity"
            android:icon="@drawable/icon"
            android:label="Host Group List" >
        </activity>
        <activity
            android:name=".HostListActivity"
            android:icon="@drawable/icon"
            android:label="Host List" >
        </activity>
    <activity
            android:name=".DHostListActivity"
            android:icon="@drawable/icon"
            android:label="DHost List" >
        </activity>   
        <activity
            android:name=".ItemListActivity"
            android:icon="@drawable/icon"
            android:label="Items Overview" >
        </activity>
     
  <activity
            android:name=".GraphHostsActivity"
            android:icon="@drawable/icon"
            android:label="Hosts with graphs" >
        </activity>       
        <activity
            android:name=".GraphsListActivity"
            android:icon="@drawable/icon"
            android:label="Graphs List" >
        </activity>
        <activity
            android:name=".GraphActivity"
            android:configChanges="orientation"
            android:icon="@drawable/icon"
            android:label="Graph" >
        </activity>
        <activity
            android:name=".ServerListActivity"
            android:icon="@drawable/icon"
            android:label="ServerList" >
        </activity>
        <activity
            android:name=".ServerActivity"
            android:icon="@drawable/icon"
            android:label="ServerList" >
        </activity>
      <activity
            android:name=".ServiceControl"
            android:icon="@drawable/icon"
            android:label="ServiceControl" >
        </activity>   
        <activity
            android:name=".HostInfoActivity"
            android:icon="@drawable/icon"
            android:label="Host Information" >
        </activity>
      
  <activity
            android:name=".EventListActivity"
            android:icon="@drawable/icon"
            android:label="Events list" >
        </activity>     
        <activity
            android:name=".ZabbixWidgetControl"
            android:icon="@drawable/icon"
            android:label="WidgetConfiguration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.ZBXCheckRepeetingService"
            android:process=":remote" />

        <service
            android:name=".service.ZBXCheckService"
            android:enabled="true" />

        <receiver
            android:name=".ZabbixWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_REFRESH" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_SETTINGS" />
                <action android:name="android.appwidget.action.ACTION_WIDGET_TRIGGERSLIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name=".ZabbixWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <data android:scheme="zabbix_widget" />
            </intent-filter>
            <intent-filter>
                <action android:name="ZABBIX_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
</manifest>